.what-we {
    .stencil-header {
        text-shadow: -1px -1px 0 #00000026, 1px -1px 0 #00000029, -1px 1px 0 #00000036, 1px 1px 0 #0000001c!important;
        color: #ffffff38!important;
    }
    .know-more {
        .know-more-btn {
            height: rem(40);
            line-height: 2.6;
            span {
                height: rem(40);
            }
        }
    }
    .learn-more {
        margin-bottom: rem(21);
    }
}